.select2 {
  width: 100% !important;
}

.selection {
  margin-top: 20px;
}

.pair {
  min-height: 43px;
  height: auto;
}

.adjust-height {
  min-height: 43px !important;
}

.padding-top {
  padding-top: 20px;
}

.col-xs-3, .col-xs-9 {
  border-right: 1px solid rgba(86, 61, 124, 0.2);
  min-height: 43px !important;
}

.border {
  border: 1px solid rgba(86,61,124,.2);
}

.center {
  text-align: center;
  vertical-align: middle;
}
